
html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: "TTNorms";
}

.container {
    max-width: 80rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
}
.header{


}
.nav{
display: flex;
align-items: center;

}
.nav-logo{
margin-right: 2rem;

}
.nav-logo-img{

}
.menu{

list-style-type: none;
padding-left: 0;
margin: 0;
display: flex;

}
.menu-item{
    margin: 1rem;


}
.header-link{
background-color: #3472cf;
text-decoration: none;
color: white;
padding: 0.8rem 2rem;
border-radius: 0.3rem;
}
.menu-link{
text-decoration: none;
color: #081d43;
padding: 0 1rem;

}
.header-top{
display:flex;
justify-content: space-between;
align-items: center;
padding: 1.5rem 0;
}