
/* Project Responsive */

@media only screen and (max-width: 1200px) {
    .container {
        max-width: 960px;
    }

}

@media only screen and (max-width: 992px) {
    .container {
        max-width: 720px;
    
    }
        .header-link{
            display: none;
        }
}

@media only screen and (max-width: 768px) {
    .container {
        max-width: 540px;
    }
    .header-icon{
        display: block;
    }
    .menu{
        display: none;
        list-style-type: none;
padding-left: 0;
margin: 0;
display: flex;
position: fixed;
top: 0;
left: -256px;
bottom: 0;
 max-width: 16rem ;
 flex-direction: column;
 background-color: #6ca0d1;
padding: 1rem;
transition: 0.3s all;
    }
    .menu-item{
    margin-bottom: 2rem;
font-size: 1.2rem;

}
}

@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
    }
}
